.card{
   
   
    .cardContent{
         margin: 0 auto;
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .cardDetail {
            background-color: rgba(132, 244, 93, 0.5);
            padding: 1rem;
            border-radius: 8px;
           width: 300px;
           height: 200px;
            // display: grid;
            // grid-template-rows: 1fr 1fr 1fr;
            color: #FFFFFF;
            .iconRow{
                
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    position: relative;

                    
                    .icon{
                        position: absolute;
                        left: -50px;
                        
                    }
                    h3{
                        font-size: 1.5em;
                        margin: 8px 0;
                        font-weight: 600;
                    }
            }
            p{
                font-weight: 500;
            }
            h2{
                font-weight: 300;
            }
        }
    }
   
}