/* Default styles for both mobile and tablet */
img{
  width:100%;
  height: auto;
}
.image-container {
  margin-top: 1rem;
  width: 100%;
  /* max-width: 800px; set a max width for the container */
  margin: 0 auto; /* center the container horizontally */
}

/* Styles for mobile */
@media only screen and (max-width: 767px) {
  .mobile-image {
    display: block;
  }
  .tablet-image {
    display: none;
  }
}

/* Styles for tablet */
@media only screen and (min-width: 768px) {
  .mobile-image {
    display: none;
  }
  .tablet-image {
    display: block;
  }
}
